{% extends "bootstrap.html" %}

{% block body %}
	<div class="hero-unit">
		<h1>Welcome to the Volunteer Index</h1>
		<p>Where shit happens. And volunteers.</p>
		<p><a class="btn btn-primary btn-large">Get Started Now</a></p>
	</div>
	<div class="row">	
		<div class="span4">
			<h1>Need Help?</h1>
			<p>Do you have a project or event coming up?  Do you need to find help ASAP?</p>
		</div>
		<div class="span4">
			<h1>We Can Help</h1>
			<p>VolunteerIndex contains a listing of all volunteers in the local Austin area, each with there own expertise..</p>
		</div>
	</div>
{% endblock %}
